@import url('https://fonts.cdnfonts.com/css/olde-english');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  background-color: #150e28;
  overflow-x: hidden;
}

.adsImage {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('./assets/meeting.jpeg');
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.canadaImg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('./assets/canada.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
}

.img1 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('./assets/topbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('./assets/share.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('./assets/intro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.car {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('./assets/car.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video3 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/protesting.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video2 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/riot.jpg');
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.video1 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/protestVid2.jpg');
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/furniture.jpeg');
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.ads {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/ads.jpg');
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .class:nth-child(5) {
    display: none;
  }
  .class:nth-child(4) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .class:nth-child(4) {
    display: block;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff26ba8a;
  border-radius: 6px;
}

.couple {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('./assets/couple.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
